.profile {
  background-color: #e8e9eb;
}
.profile__header {
  background-color: #525487;
}
.ongoing__wrapper {
  background-color: #525487;
}

.tracked__wrapper {
  background-color: #525487;
}

.notification__wrapper {
  background-color: #525487;
}
